c/a.exe
c/a.exe.stackdump
fred_lightcurve.pdf
gaussian_lightcurve.pdf
higher_flux_fig.pdf
how_it_works/how_it_works.aux
how_it_works/how_it_works.log
how_it_works/how_it_works.pdf
how_it_works/how_it_works.synctex.gz
python3/.ipynb_checkpoints/
python3/Untitled.ipynb
python3/Untitled1.ipynb
python3/Untitled2.ipynb
python3/Untitled3.ipynb
python3/durmax_y.log
python3/image.html
python3/maxdist_y.log
python3/output_fred_DetTrans
python3/output_fred_ProbContour.html
python3/output_fred_SimTrans
python3/output_fred_Stat
python3/output_gaussian_DetTrans
python3/output_gaussian_ProbContour.html
python3/output_gaussian_ProbContour.pdf
python3/output_gaussian_SimTrans
python3/output_gaussian_Stat
python3/output_tophat_DetTrans
python3/output_tophat_ProbContour.html
python3/output_tophat_SimTrans
python3/output_tophat_Stat
python3/toplot_dump.out
python3/xs.log
python3/dumps
python3/output
python3/config.ini
SIMULATIONS.nb
