rates/Pipfile
rates/Pipfile.lock
rates/Transient_rate_calculation.py
rates/all_images
rates/compute_rates.html
rates/get_image_info.py
rates/observations.txt
rates/rateplot.html
rates/tradsurfdens.htmlc/a.exe
rates/tradsurfdens.html
c/a.exe.stackdump
fred_lightcurve.pdf
gaussian_lightcurve.pdf
higher_flux_fig.pdf
how_it_works/*
simulations/.ipynb_checkpoints/
simulations/Untitled.ipynb
simulations/Untitled1.ipynb
simulations/Untitled2.ipynb
simulations/Untitled3.ipynb
simulations/durmax_y.log
simulations/image.html
simulations/maxdist_y.log
simulations/output_fred_DetTrans
simulations/output_fred_ProbContour.html
simulations/output_fred_SimTrans
simulations/output_fred_Stat
simulations/output_gaussian_DetTrans
simulations/output_gaussian_ProbContour.html
simulations/output_gaussian_ProbContour.pdf
simulations/output_gaussian_SimTrans
simulations/output_gaussian_Stat
simulations/output_tophat_DetTrans
simulations/output_tophat_ProbContour.html
simulations/output_tophat_SimTrans
simulations/output_tophat_Stat
simulations/toplot_dump.out
simulations/__pycache__/*
simulations/Pipfile.lock
simulations/xs.log
simulations/dumps
simulations/output
simulations/output_*
simulations/config.ini
*.pdf
python3/*
SIMULATIONS.nb
