c/a.exe
c/a.exe.stackdump
fred_lightcurve.pdf
gaussian_lightcurve.pdf
higher_flux_fig.pdf
how_it_works/how_it_works.aux
how_it_works/how_it_works.log
how_it_works/how_it_works.pdf
how_it_works/how_it_works.synctex.gz
python36/.ipynb_checkpoints/
python36/Untitled.ipynb
python36/Untitled1.ipynb
python36/Untitled2.ipynb
python36/Untitled3.ipynb
python36/durmax_y.log
python36/image.html
python36/maxdist_y.log
python36/output_fred_DetTrans
python36/output_fred_ProbContour.html
python36/output_fred_SimTrans
python36/output_fred_Stat
python36/output_gaussian_DetTrans
python36/output_gaussian_ProbContour.html
python36/output_gaussian_ProbContour.pdf
python36/output_gaussian_SimTrans
python36/output_gaussian_Stat
python36/output_tophat_DetTrans
python36/output_tophat_ProbContour.html
python36/output_tophat_SimTrans
python36/output_tophat_Stat
python36/toplot_dump.out
python36/xs.log
python36/dumps
python36/output
python36/config.ini